<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>
<p>
  <%img=@product.images.first.name %>
  <%=image_tag img, :width => '390'%>
</p>

<p>
  <b>Describtion:</b>
  <%=@product.des %>

</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Status:</b>
  <%= @product.status %>
</p>



<%= link_to 'Back', root_path %>
