<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>
<p>
  <%img=@product.images.first.name %>
  <%=image_tag img, :width => '390'%>
</p>

<p>
  <b>Description:</b>
  <%=@product.des %>

</p>



<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <b>number you want to buy: </b>
  <%= select_tag(:quantity, options_for_select(1..30)) %>
</p>
<p>
  <b>Status:</b>
  <%= @product.status %>
</p>
<p>
  </br>
  <%= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true %>
</p>



<%= link_to 'Back', root_path %>
