<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>
<p>
  <%img=@product.images.first.name %>
  <%=image_tag img, :width => '390'%>
</p>

<p>
  <b>Describtion:</b>
  <%=@product.des %>

</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <b>Status:</b>
  <%= @product.status %>
</p>

<p>
  </br>
  <%= button_to 'Add to Cart', line_items_path(product_id: @product) %>
</p>

<%= link_to 'Back', root_path %>
