<h1>administrator dash board</h1>
<h1></h1>
<table>
   <tr><td><%= link_to 'Products Manangement', products_path %></td></tr> 
   <tr><td><%= link_to 'Customers Manangement', customers_path %></td></tr>
   <tr><td><%= link_to 'Orders Manangement', orders_path %></td></tr>
   <tr><td><%= link_to 'Provinces Manangement', provinces_path %></td></tr>
   <tr><td><%= link_to 'Images Manangement', images_path %></td></tr>
   <tr><td><%= link_to 'Company Information Manangement', company_infos_path %></td></tr> 
</table>
