<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @table2.name %>
</p>

<p>
  <b>Product:</b>
  <%= @table2.product %>
</p>


<%= link_to 'Edit', edit_table2_path(@table2) %> |
<%= link_to 'Back', table2s_path %>
