<%= form_for(@customer) do |f| %>
 
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>
  
  <table>
    <tr>
      <td>
        <div class="field">
         <%= f.label :userName %><br />
         <%= f.text_field :userName %>
        </div>
      </td>
      <tr>
      <td>
         <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :FirstName %><br />
         <%= f.text_field :fname %>
         </div>
        </td>
      <td>
       <div class="field">
         <%= f.label :LastName %><br />
         <%= f.text_field :lname %>
       </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
         <%= f.label :address %><br />
         <%= f.text_field :address %>
       </div>
        </td>
      <td>
       <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city %>
       </div>
      </td>
      <td>
        <div class="field">
         
          <%= f.label :province %><br />
          <%= f.select :province_id, @provinces%>

        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
         <%= f.label :postCode %><br />
         <%= f.text_field :postCode %>
       </div>
      </td>
      <td>
        <div class="field">
         <%= f.label :phone %><br/>
         <%= f.text_field :phone %>
        </div>
      <td>
       <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
       </div>
      </td>
    </tr>
    <tr>
      <td>
      <div class="field">
       <%= f.label :payment_method %><br />
      <%= f.text_field :pay_method %>
      </td>
     </div>
    </tr>
  </table>
  <div class="actions">
    <%= button_to 'save',  :action => :new %>
  </div>
<% end%>
