
 <% if cart.line_items.empty? %>
        <h5>Your Shopping Cart</h5>
          <div><%= image_tag 'shopping_cart.png', :width => '80', :height => '80' %></div> 
     <% else %>
<h5>Your Shopping Cart</h5>
<table>
<!-- START_HIGHLIGHT -->
 <%= render(@cart.line_items) %>
<!-- END_HIGHLIGHT -->
 <tr class="total_line">
    <td colspan="2" class="total">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>

</table>

<table>
  <tr>
<td><%= button_to "Checkout", new_order_path, method: :get  %></td>
<td><%= button_to 'Empty cart', cart, method: :delete,
    data: {confirm: 'Are you sure?' }   %></td>
   </tr>
</table>
<% end %>