<div class="product">
  <table>
    <tr>
      <td></td>
      <%img=product.images.first.name%>
       <td ><%=image_tag img, :width => '150' ,:height=>'150'%></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td ><%= product.name %></td>
      <td></td>
    </tr>
    <tr> <td></td>
       <td><%= link_to 'Show', product %></td>  <td></td>
    </tr>
    <tr>  <td></td>
       <td ><%= link_to 'Edit', edit_product_path(product) %></td> <td></td>
    </tr>
    <tr>   <td></td>
       <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td> <td></td>
    </tr>
  </table>
</div>